body{
    font-family: 'League Gothic', sans-serif;
}
h1{
    text-align:center;
}
#formQuery{
    text-align:center;
    height:auto;
    width: auto;
    margin-top: 10%;
}
#input1{
    border: 2px solid black;
    width:30%;
    height: 20px;
}
#input1:focus {
    border: 3px solid #555;
  }